<template>
    <footer>
      <hr/>
      <div>Copyright &copy; 2018 Vue. All rights reserved</div>
    </footer>
</template>

<script>
export default {
  name: 'Footer'
}
</script>

<style scoped>
footer {
  margin-top: 30px;
}
footer div {
  height: 60px;
  color: grey;
}
</style>
