<template>
    <header id="header">
      <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand text-white font-weight-bold" @click="goToHomePage">
        E-Commerce
      </span>
        <ul class="nav">
          <li class="nav-item">
            <router-link to="/" class="nav-link" active-class="active" exact>Products</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/submit-reviews" class="nav-link" active-class="active">Submit Reviews</router-link>
          </li>
        </ul>
      </nav>
    </header>
</template>

<script>
export default {
  name: 'Header',
  methods: {
    goToHomePage () {
      this.$router.push('/')
    }
  }
}
</script>

<style scoped>
  header {
    margin-bottom: 30px;
  }
  .navbar {
    background: linear-gradient(-90deg, #84CF6A, #16C0B0);
    height: 60px;
    margin-bottom: 15px;
  }
  .navbar-brand {
    font-size: 25px;
    cursor: pointer;
  }
  .active {
    font-weight: 600;
    text-decoration: underline;
  }
  a {
    text-decoration: none;
    color: white;
  }
</style>
