<template>
  <div id="product-list">
    <h2>Product List</h2>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">Vendor</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(product, index) in productList" :key="index">
        <th scope="row">{{ (currentPage - 1) * itemsPerPage + index + 1 }}</th>
        <td>{{product.productCode}}</td>
        <td>{{product.productName}}</td>
        <td>{{product.productVendor}}</td>
        <td>{{product.quantityInStock}}</td>
        <td>{{product.buyPrice}}</td>
      </tr>
      </tbody>
    </table>
    <nav aria-label="...">
      <ul class="pagination justify-content-end">
        <li class="page-item"
            :class="{ 'disabled' : currentPage === 1}"
            @click="goToPage(currentPage - 1)">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>

        <li class="page-item"
            v-for="pageIndex in pageIndexes" :key="pageIndex"
            :class="{ 'active' : currentPage === pageIndex }"
            @click="goToPage(pageIndex)">
          <a class="page-link" href="#">{{pageIndex}}
            <span class="sr-only" v-if="currentPage === pageIndex">(current)</span>
          </a>
        </li>

        <li class="page-item"
            :class="{ 'disabled' : currentPage === totalPages}"
            @click="goToPage(currentPage + 1)">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
import ProductService from '@/shared/service/ProductService'

export default {
  name: 'ProductList',
  data () {
    return {
      productList: [],
      totalItems: 0,
      itemsPerPage: 10,
      currentPage: 1
    }
  },
  created () {
    this.getProductList()
  },
  methods: {
    getProductList () {
      ProductService.getProductList(this.currentPage, this.itemsPerPage)
        .then(response => {
          this.productList = response.productDTOList
          this.totalItems = response.totalItems
        })
    },
    goToPage (pageIndex) {
      this.currentPage = pageIndex
      this.getProductList()
    }
  },
  computed: {
    pageIndexes () {
      const totalPages = Math.ceil(this.totalItems / this.itemsPerPage)
      let pageIndexes = []
      for (let i = 1; i <= totalPages; i++) {
        pageIndexes.push(i)
      }
      return pageIndexes
    },
    totalPages () {
      return Math.ceil(this.totalItems / this.itemsPerPage)
    }
  }
}
</script>

<style scoped>
  .disabled {
    pointer-events: none;
  }
</style>
