<template>
  <div id="app" class="container">
    <app-header></app-header>

    <router-view/>

    <app-footer></app-footer>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
  @import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }

  .page-link {
    color: #16C0B0;
  }

  .page-item.active .page-link {
    background-color: #16C0B0;
    border-color: #16C0B0;
  }
</style>
